<header class="bg-blue-800 w-full h-[20rem]">
    <div class="flex justify-between mx-16 pt-4 ">
        <a routerLink="/" class="cursor-pointer"><img alt="arrow left" src="assets/arrowLeft.svg"></a>
        <p class="text-gray-300">StudyGFT</p>
    </div>
    <div class="mx-[25%]">
        <div class="flex flex-col mt-8 gap-8 items-start">
            <p class="text-white  text-justify font-bold text-2xl text-wrap">{{title}}</p>

            <p class="text-gray-300 text-center">{{subtitle}}</p>

        </div>
    </div>
</header>