<app-header [title]="title"></app-header>

<section class="flex mx-[25%] items-center gap-8 -mt-12">
    <div class="flex-col">
        <label for="classtitle" class="block text-sm font-medium text-gray-300">Título da aula</label>
        <input type="text" id="classtitle" [(ngModel)]="searchTitle" (keyup)="filteredLessons"
            placeholder="Filter by title"
            class="mt-1 p-2 block w-full border rounded-md border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
    </div>
    <div class="flex-col">
        <label for="techtype" class="block text-sm font-medium medium text-gray-300">Tipo de tecnologia</label>
        <select id="techtype"
            class="mt-1 p-2 block w-full border rounded-md border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
            <option value="">Selecione categoria da aula</option>
            <option *ngFor="let tech of techTypes" [value]="tech">{{ tech }}</option>
        </select>
    </div>
</section>

<section *ngFor="let lesson of filteredLessons " class="flex justify-center items-center">

    <app-card [lesson]="lesson"></app-card>

</section>